html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1 {
  -ms-flex-preferred-size: 8.3333%;
      flex-basis: 8.3333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.6666%;
      flex-basis: 16.6666%;
}

.col-3 {
  -ms-flex-preferred-size: 24.9999%;
      flex-basis: 24.9999%;
}

.col-4 {
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.6665%;
      flex-basis: 41.6665%;
}

.col-6 {
  -ms-flex-preferred-size: 49.9998%;
      flex-basis: 49.9998%;
}

.col-7 {
  -ms-flex-preferred-size: 58.3331%;
      flex-basis: 58.3331%;
}

.col-8 {
  -ms-flex-preferred-size: 66.6664%;
      flex-basis: 66.6664%;
}

.col-9 {
  -ms-flex-preferred-size: 74.9997%;
      flex-basis: 74.9997%;
}

.col-10 {
  -ms-flex-preferred-size: 83.3333%;
      flex-basis: 83.3333%;
}

.col-11 {
  -ms-flex-preferred-size: 91.6663%;
      flex-basis: 91.6663%;
}

.col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: auto;
  max-width: 320px;
}

header{
  -webkit-box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2);
          box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2);
}

.col-l-12 {
  width: 100%;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  margin-top: 16px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.uber_part {
  color: black;
  letter-spacing: 3px;
  font-weight: bold;
}

.eats_part {
  margin-left: 5px;
  color: green;
  letter-spacing: 3px;
}

.header_search {
  display: none;
}

.header_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header_signin {
  background-color: white;
  color: black;
  font-size: 13px;
  font-style: medium;
  font-family: roboto;
  line-height: 24px;
  border-radius: 2px;
  border-color: #e7e7e7;
  height: 40px;
  width: 72px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 12px;
}

.header_signin:hover{
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}


.header_reg {
  background-color: black;
  border-style: none;
  color: White;
  font-size: 13px;
  font-style: medium;
  font-family: roboto;
  line-height: 24px;
  border-radius: 2px;
  height: 40px;
  width: 72px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.header_reg:hover{
  -webkit-box-shadow: 0 8px 16px 0 grey;
          box-shadow: 0 8px 16px 0 grey;
}

.bag_icon {
  display: none;
}

.restaurant_search {
  height: 79px;
}

.r_search_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  border-bottom: solid;
  border-radius: 2px;
  border-color: #e7e7e7;
}

.r_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.search_for_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_for {
  width: 100%;
  height: 48px;
  border-style: none;
  font-size: 16px;
  font-style: Regular;
  font-family: roboto;
}

.search_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 24px;
}

.mobile_directions {
  Font-Family: Roboto;
  Font-Style: Regular;
  Font-Size: 11px;
  Line-Height: 13px;
}

.mobile_conteiner1 {
  width: 40%;
}

.mobile_conteiner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.mobile_conteiner3 {
  width: 40%;
}

.mobile_conteiner4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.asap {
  font-size: 13px;
  font-style: medium;
  line-height: 24px;
  font-family: Roboto;
  font-style: Regular;
  border-radius: 4px;
  height: 40px;
  width: 65px;
  background-color: white;
}
.asap:hover{
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.asap:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imput_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40px;
  width: 227px;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: #e7e7e7;
}

.street_search_icon {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.street_search {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  border-style: none;
  font-family: Roboto;
  font-style: Regular;
  font-size: 13px;
  line-height: 24px;
}

main a {
  Font-Family: Roboto;
  Font-Style: Regular;
  Font-Size: 16px;
  Line-Height: 24px;
  color: black;
  text-decoration: none;
}

.sity_rest {
  margin-top: 40px;
}

.main_container {
  width: 100%;
}

.container_img {
  width: auto;
  max-width: 100%;
}

.footer {
  background-color: #262626;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.uber_part2 {
  color: white;
  letter-spacing: 3px;
}

.eats_part2 {
  margin-left: 5px;
  color: green;
  letter-spacing: 3px;
}

.footer_wrapper {
  border-top-style: solid;
  color: white;
  border-width: 1px;
  padding-top: 2%;
}

.lang_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 173px;
}

.lang_select select {
  border: none;
  background-color: #262626;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 100%;
}

.hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hashtag_1 {
  color: green;
}

.media_url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

.mobile_url {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.apple {
  padding-left: 5%;
}

#footer_button {
  display: none;
  background-color: green;
  color: white;
  width: 80px;
  height: 80px;
  position: relative;
  left: 75%;
  border-radius: 3px;
  border-style: none;
  font-size: 40px;
}


/*Page 2*/

a {
  Font-Family: Roboto;
  Font-Style: Regular;
  Font-Size: 16px;
  Line-Height: 24px;
  color: black;
  text-decoration: none;
}

.restaurant_presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://s1.1zoom.ru/big0/511/French_fries_Fast_food_Ketchup_Cutting_board_542177_1280x853.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 255px;
}

.reastaurant_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 308px;
  height: 180px;
  margin: auto;
  margin-top: 131px;
  border-style: solid;
  border-width: 1px;
  border-color: #ECECEC;
  -webkit-box-shadow: 1px 1px #ECECEC;
          box-shadow: 1px 1px #ECECEC;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1D1D1D;
  border-radius: 16px;
  width: 98px;
  height: 32px;
  color: white;
}

.timer_data {
  margin: auto;
  Font-Family: Roboto;
  Font-Style: Regular;
  Font-Size: 13px;
  Line-Height: 15px;
}


.filter_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 157px;
}

.filter_select {
  background-color: transparent;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  border-style: none;
  border-bottom: solid;
  overflow: hidden;
  width: 150px;
  font-family: Roboto;
  font-style: Regular;
  font-size: 22px;
  line-height: 34px;
}

.filter_type {
  display: none;
}

.fcontent_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_content {
  width: 100%;
  height: 100%;
  margin-top: 32px;
}

.filter_content_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box_1,
.box_2,
.box_3,
.box_4,
.box_5,
.box_6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  width: 100%;
  margin-bottom: 1%;
  border-style: solid;
  border-color: #ECECEC;
}

.box1_txt,
.box2_txt,
.box3_txt,
.box4_txt,
.box5_txt,
.box6_txt {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 206px;
}

 .filter_content p{
  white-space: nowrap; 
  max-width: 200px; 
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; 
}


.filter_img1,
.filter_img2,
.filter_img3,
.filter_img4,
.filter_img5,
.filter_img6 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 102px;
  height: 100%;
  background-image: url("https://puu.sh/AD6nT/cde81ab398.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media only screen and (min-width: 768px) {
  .col-m-1 {
    -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
  }
  .col-m-2 {
    -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%;
  }
  .col-m-3 {
    -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%;
  }
  .col-m-4 {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }
  .col-m-5 {
    -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%;
  }
  .col-m-6 {
    -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%;
  }
  .col-m-7 {
    -ms-flex-preferred-size: 58.3331%;
        flex-basis: 58.3331%;
  }
  .col-m-8 {
    -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%;
  }
  .col-m-9 {
    -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%;
  }
  .col-m-10 {
    -ms-flex-preferred-size: 83.3333%;
        flex-basis: 83.3333%;
  }
  .col-m-11 {
    -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%;
  }
  .col-m-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 768px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_logo {
    margin-top: 16px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .uber_part {
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .eats_part {
    margin-left: 5px;
    color: green;
    letter-spacing: 3px;
  }
  .header_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .asap {
    font-size: 13px;
    font-style: medium;
    line-height: 24px;
    font-family: Roboto;
    font-style: Regular;
    border-radius: 4px;
    height: 40px;
    width: 57px;
    margin-right: 22px;
    background-color: white;
  }
  .imput_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    margin-left: 22px;
    border-color: #e7e7e7;
  }
  .header_search_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .header_signin {
    background-color: white;
    color: black;
    font-size: 13px;
    font-style: medium;
    font-family: roboto;
    line-height: 24px;
    border-radius: 2px;
    border-color: #e7e7e7;
    height: 40px;
    width: 72px;
    margin-right: 16px;
  }
  .header_reg {
    background-color: black;
    border-style: none;
    color: White;
    font-size: 13px;
    font-style: medium;
    font-family: roboto;
    line-height: 24px;
    border-radius: 2px;
    height: 40px;
    width: 72px;
    margin-right: 27px;
  }
  .bag_icon {
    display: initial;
    font-size: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .r_search_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-bottom: solid;
    border-radius: 2px;
    border-color: #e7e7e7;
  }
  .r_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search_for_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .search_for {
    width: 100%;
    height: 48px;
    border-style: none;
    font-size: 16px;
    font-style: Regular;
    font-family: roboto;
  }
  .search_mobile {
    display: none;
  }
  .imput_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 40px;
    width: 227px;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    border-color: #e7e7e7;
  }
  .street_search_icon {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .street_search {
    -webkit-box-flex: 6;
        -ms-flex-positive: 6;
            flex-grow: 6;
    border-style: none;
    font-family: Roboto;
    font-style: Regular;
    font-size: 13px;
    line-height: 24px;
  }
  .main_container_wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 8px);
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%;
    margin-bottom: 1%;
  }
  .container_img {
    height: auto;
    width: 100%;
    display: block;
  }
  .footer {
    background-color: #262626;
  }
  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .uber_part2 {
    color: white;
    letter-spacing: 3px;
  }
  .eats_part2 {
    margin-left: 5px;
    color: green;
    letter-spacing: 3px;
  }
  .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top-style: solid;
    color: white;
    border-width: 1px;
    padding-top: 2%;
  }
  .lang_select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 176px;
  }
  .lang_select select {
    border: none;
    background-color: #262626;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 100%;
  }
  .hashtag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hashtag_1 {
    color: green;
  }
  .media_url {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .mobile_url {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .apple {
    padding-left: 5%;
  }
  .footer_end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer_button {
    display: none;
    background-color: green;
    color: white;
    width: 80px;
    height: 80px;
    position: initial;
    border-radius: 3px;
    border-style: none;
    font-size: 40px;
  }


  /*                            Page 2                    */
  .restaurant_presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
   .reastaurant_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 41.6665%;
    max-width: 100%;
    height: 204px;
    margin-right: 58.3331%;
    margin-top: auto;
    border-style: none;
  }
  
  .r_name {
    width: 100%;
    text-align: center;
  }
  .price_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .price_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 172px;
    height: 32px;
  }

  .price{
    margin: auto;
    Font-Family: Roboto;
    Font-Style: Regular;
    Font-Size: 13px;
    Line-Height: 15px;
  }
  .mobile_menu_filter {
    display: none;
  }


  .filter{
    border-bottom: solid;
    border-color: #ECECEC;
  }

  .filter_type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .snacks,
  .salads,
  .soups,
  .hot_dish,
  .side_dish,
  .desserts {
    margin-right: 8px;
  }


.box1_txt,
.box2_txt,
.box3_txt,
.box4_txt,
.box5_txt,
.box6_txt {

  max-width: 552px;
}




}

@media only screen and (min-width: 1000px) {
  .col-l-1 {
    -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
  }
  .col-l-2 {
    -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%;
  }
  .col-l-3 {
    -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%;
  }
  .col-l-4 {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }
  .col-l-5 {
    -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%;
  }
  .col-l-6 {
    -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%;
  }
  .col-l-7 {
    -ms-flex-preferred-size: 58.3331%;
        flex-basis: 58.3331%;
  }
  .col-l-8 {
    -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%;
  }
  .col-l-9 {
    -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%;
  }
  .col-l-10 {
    -ms-flex-preferred-size: 83.3333%;
        flex-basis: 83.3333%;
  }
  .col-l-11 {
    -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%;
  }
  .col-l-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 956px;
    margin: auto;
  }
  .main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(33.33% - 8px);
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%;
    margin-bottom: 1%;
  }

  /*                              Page 2                   */
  .col-m-12 {
    max-width: unset;
  }
  .reastaurant_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 41.6665%;
    max-width: 100%;
    height: 204px;
    margin-right: 58.3331%;
    margin-top: auto;
    border-style: none;
  }
  .r_name {
    width: 100%;
    text-align: center;
  }
  .price_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .price_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 172px;
    height: 32px;
  }

  .price{
    margin: auto;
    Font-Family: Roboto;
    Font-Style: Regular;
    Font-Size: 13px;
    Line-Height: 15px;
  }
  .mobile_menu_filter {
    display: none;
  }
  .filter_type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .snacks,
  .salads,
  .soups,
  .hot_dish,
  .side_dish,
  .desserts {
    margin-right: 8px;
  }
  .box_1,
  .box_2,
  .box_3,
  .box_4,
  .box_5,
  .box_6 {
    width: calc(50% - 8px);
  }
  
.box1_txt,
.box2_txt,
.box3_txt,
.box4_txt,
.box5_txt,
.box6_txt {
  max-width: 300px;
}

.box1_txt p{
  max-width: 300px; 
}

}