:root {
  --gutter-width: 16px;
  --sm-min: 576px;
  --md-min: 768px;
}

.body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.margin_leveler {
  margin-right: 8px;
  margin-left: 8px;
}

.block_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.text_decor {
  text-decoration: none;
  color: white;
}

.icon_pisition {
  align-self: center;
  margin-right: 2px;
}

.bottom_border {
  border-bottom-style: solid;
  border-width: thin;
  border-radius: 2px;
  border-color: #e7e7e7;
}

@media (max-width: 767px) {
  .block_column {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .block_leveler {
    width: calc(var(--sm-min) - var(--gutter-width));
    max-width: 100%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .block_leveler {
    width: calc(var(--md-min) - var(--gutter-width));
    max-width: 100%;
    margin: auto;
  }
}

.header_border {
  margin-bottom: 1%;
  box-shadow: 0 3px 8px -3px grey;
}
.header_item_position {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 40px;
}

.logo {
  display: flex;
}

.auth {
  display: flex;
}

.container_rest_street {
  line-height: 24px;
  font-size: 16px;
  color: #1d1d1d;
}

.container_food_price {
  line-height: 21px;
  font-size: 14px;
  color: #626262;
}

.container_travel_time {
  line-height: 21px;
  font-size: 13px;
  color: #1d1d1d;
}

.button {
  font-size: 13px;
  line-height: 24px;
  border-radius: 5px;
  border-color: #e7e7e7;
  height: 40px;
  width: 72px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}

.asap {
  background-color: inherit;
}

.header_to {
  margin-right: 10px;
  margin-left: 10px;
}

.auth_signin {
  background-color: white;
  color: black;
  margin-right: 16px;
}

.auth_reg {
  background-color: black;
  border-style: none;
  color: White;
}

.bag_icon {
  font-size: 30px;
  margin-left: 27px;
}

.mobile_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurant_search_wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.r_search {
  display: flex;
  width: 100%;
}

.imput_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: #e7e7e7;
}

.desc_imp {
  width: 227px;
}

.mob_imp {
  width: 100%;
}

.search_imput {
  border-style: none;
  font-size: 13px;
  line-height: 24px;
}
.search_for {
  width: 100%;
  height: 48px;
  border-style: none;
  font-size: 16px;
}

.container_img {
  width: 100%;
}

.footer {
  background-color: #262626;
}

.footer_logo {
  margin-top: 56px;
  margin-bottom: 40px;
}

.lang_select select {
  border: none;
  background-color: #262626;
  color: white;
  font-size: 20px;
  height: 40px;
}

.footer_bottom_border {
  border-bottom-style: solid;
  border-width: thin;
  border-color: #ffffff;
}

.hashtag {
  display: flex;
}

.hashtag_h {
  color: green;
  height: 19px;
}
.hashtag_uber {
  width: 65px;
  height: 19px;
  left: 92px;
  top: 1690px;
  font-size: 16px;
  color: #ffffff;
}

.uber_info {
  margin-top: 30px;
  margin-bottom: 20px;
}

.media_url {
  display: flex;
  justify-content: space-between;
  max-width: 33%;
}

.ios_download {
  margin-right: 5%;
}

.mobile_url {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer_end {
  margin-top: 20px;
}

#footer_button {
  display: none;
  background-color: #59bd5a;
  position: relative;
  left: 75%;
  border-radius: 3px;
  border-style: none;
}

@media (max-width: 767px) {
  .price_time {
    display: flex;
    flex-direction: column;
  }

  .timer {
    margin: auto;
  }
}

.reastaurant_info {
  display: flex;
  flex-wrap: wrap;
  height: 204px;
  min-width: 304px;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 2px;
}

.r_name {
  margin-top: 38px;
  width: 100%;
}

.price_time {
  display: flex;
  width: 100%;
}

.price_wrapper {
  display: flex;
  height: 32px;
}
.price {
  margin: auto;
  font-family: Roboto;
  font-style: Regular;
  font-size: 13px;
  line-height: 15px;
}
.timer {
  display: flex;
  background-color: #1d1d1d;
  border-radius: 16px;
  width: 98px;
  height: 32px;
  color: white;
}
.timer_data {
  margin: auto;
  font-family: Roboto;
  font-style: Regular;
  font-size: 13px;
  line-height: 15px;
}

.filter {
  border-bottom-style: solid;
  border-color: #626262;
  border-width: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter_type a {
  text-decoration: none;
  color: black;
}

.restaurant_presentation {
  display: flex;
  background-image: url("../Images/restaurants/restouraunt_back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #626262;
}

.reastaurant_info {
  background-color: white;
}

.placeholder {
  visibility: hidden;
}
.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  border-style: solid;
  border-color: #ececec;
}
.box_txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
}

.box p {
  white-space: nowrap;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box_img {
  width: 30%;
}
.box_other_info {
  margin-top: 0.5%;
  color: grey;
}

.test1 {
  visibility: hidden;
}

.box_price {
  margin-top: 10%;
  margin-bottom: 1%;
}
