:root {
  --gutter-width: 16px;
  --sm-min: 576px;
  --md-min: 768px;
}

@media (max-width: 767px) {
  .h123 {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .block_leveler {
    width: calc(var(--sm-min) - var(--gutter-width));
    max-width: 100%;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .block_leveler {
    width: calc(var(--md-min) - var(--gutter-width));
    max-width: 100%;
    margin: auto;
  }
}

.header_search {
  background-color: aquamarine;
  justify-content: space-between;
}

.block_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.bottom_border {
  border-bottom: solid;
  border-radius: 2px;
  border-color: #e7e7e7;
}
.button {
  font-size: 13px;
  font-style: medium;
  font-family: roboto;
  line-height: 24px;
  border-radius: 5px;
  border-color: #e7e7e7;
  height: 40px;
  width: 72px;
}

.asap {
  margin-right: 22px;
  background-color: inherit;
}
.auth_signin {
  background-color: white;
  color: black;
  margin-right: 16px;
}
.auth_reg {
  background-color: black;
  border-style: none;
  color: White;
}
.bag_icon {
  font-size: 30px;
  margin-left: 27px;
}

.header_item_position {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 40px;
}

.mobile_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: flex;
}
.auth {
  display: flex;
}

.restaurant_search_wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.r_search {
  display: flex;
  width: 100%;
}

.icon_pisition {
  align-self: center;
  margin-right: 2px;
}

.imput_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: #e7e7e7;
}
.desc_imp {
  width: 227px;
  height: 38px;
}
.mob_imp {
  width: 100%;
}
.search_imput {
  border-style: none;
  font-family: Roboto;
  font-style: Regular;
  font-size: 13px;
  line-height: 24px;
}
.search_for {
  width: 100%;
  height: 48px;
  border-style: none;
  font-size: 16px;
  font-style: Regular;
  font-family: roboto;
}

.content_container {
  background-color: orange;
}

.hashtag {
  display: flex;
}

.media_url {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #262626;
}
